<div class="container marketing">
  <div class="row">
    <%= render :template => 'shared/about_nav' %>
    <h1>Bylo nebylo,</h1>
    <p> na táboře v roce 2006, svedl Bůh osudy dvou mladých lidí k sobě. V létě roku 2008 se Hoza rozhodl, že to spolu risknou. Jak čas plynul, cestičky se přibližovaly. Raduška zatím dospěla. Na honzíka se stále čeká, už asi 5 let. Až jednou, myslím, že to bylo někde u maďarů, se Honza konečně dospěle vyjádřil a požádal Ráďu o ruku. Od té doby už uběhlo hodně vody </p>
  </div>
</div>
