
<div class="container marketing">
  <div class="row">
 <%= render :template =>  'shared/nevesta_nav' %>
    <h1>Nevěsta - podezřelá Raduška Jasanská</h1>
    <p>Raduška je prvorozenou dcerou krále železnic a zasloužilé maminky. Společně bydlí za devatero horami a jedním potokem v Ústí nad Orlicí. O pár let později se rodičům narodila druhá dcerka Martinka a nakonec benjaminek Hanička. Raduška si během školních let osvojila královské činnosti, jako hru na housle, klavír, zpěv, dramatický projev a spoustu dalších. Z hodného dítěte se v průběhu let stal aktivní puberťák, kterého, jak říká Raduščina maminka, zkrotil až sám Honzík I. Po zkoušce dospělosti na pedagogickém lyceu v Brně, pokračuje ve studiu speciální pedagogiky v Olomouci. Snoubenec doufá, že nabyté zkušenosti budou uplatněny v manželské komunikaci a péči o něj :-)</p>
  </div>
</div>