<div class="container marketing">

  <div class="row">
    <h1>Vítejte na stránkách Honzy a Radušky</h1>
    <p>
      Rádi bychom se Vám touto cestou představili a příblížili Vám, jak bude náš Velký den probíhat!
    </p>
  </div>
</div>