<div class="container marketing">

  <div class="row">
    <h1>Vítejte na stránkách Honzy a Radušky</h1>
    <p>
      Tento web vzniknul jako první prezentace našeho vztahu a seskupení všech informací o našem slavném dni.
    </p>
  </div>
</div>