<div class="container marketing">

  <div class="row">
    <h1>Kontakty</h1>
    <p> Ženich - Jan Vykydal   (tel: 608700372, email: vykyjan(et)seznam.cz)
    </br>Nevěsta - Raduška Jasanská (tel: 774345146, email: radulle(et)seznam.cz)  </br></br> Svědek ženicha - Jakub Kočíř </br> Svědek nevěsty - Martinka Jasanská
    </p>
  </div>
</div>