<div class="container marketing">

  <div class="row">
    <h1>Kontakty</h1>
    <table><tr class='success' ><td> Ženich - Jan Vykydal</td>   <td>(tel: 608700372, email: vykyjan(et)seznam.cz)  </td>  </tr>
    <tr class="error"><td>Nevěsta - Raduška Jasanská</td><td>(tel: 774345146, email: radulle(et)seznam.cz)</td>  </tr>
    <tr  class='success'><td> Svědek ženicha - Jakub Kočíř</td> </tr>
    <tr  class="success"> <td>Svědek nevěsty - Martinka Jasanská </td> </tr>
  </table>


  </div>
</div>