<div class="container marketing">
  <div class="row">
    <ul class="nav nav-pills nav-stacked"  style="width:200px; float: left">
      <li><%= link_to "Něco o mně", nevesta_path %></li>
     <li><%= link_to "Moje galerie", nevesta_gallery_path %></li>
    </ul>
    <h1>Nevěsta - podezřelá Raduška Jasanská</h1>
    <p></p>
  </div>
</div>
